<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
    <string>f557148</string>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>f557148</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb646549128881241</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>FacebookAppID</key>
    <string>646549128881241</string>
    <key>FacebookDisplayName</key>
    <string>John Kneafsey</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>akamaihd.net</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>api.mydomain.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>facebook.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>fbcdn.net</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>http://tile.stamen.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
        </dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string/>
    <key>UIAppFonts</key>
    <array>
      <string>MaterialCommunityIcons.ttf</string>
      <string>SimpleLineIcons.ttf</string>
      <string>Bungee-Hairline.otf</string>
      <string>Bungee-Inline.otf</string>
      <string>Bungee-Outline.otf</string>
      <string>Bungee-Regular.otf</string>
      <string>Bungee-Shade.otf</string>
      <string>BungeeLayers-Inline.otf</string>
      <string>BungeeLayers-Outline.otf</string>
      <string>BungeeLayers-Regular.otf</string>
      <string>BungeeLayers-Shade.otf</string>
      <string>BungeeLayersRotated-Inline.otf</string>
      <string>BungeeLayersRotated-Outline.otf</string>
      <string>BungeeLayersRotated-Regular.otf</string>
      <string>BungeeLayersRotated-Shade.otf</string>
      <string>Andale Mono.ttf</string>
      <string>Arial Black.ttf</string>
      <string>Arial.ttf</string>
      <string>Bungee-Regular.ttf</string>
      <string>BungeeHairline-Regular.ttf</string>
      <string>BungeeInline-Regular.ttf</string>
      <string>BungeeOutline-Regular.ttf</string>
      <string>BungeeShade-Regular.ttf</string>
      <string>Comic Sans MS.ttf</string>
      <string>Courier New.ttf</string>
      <string>EvilIcons.ttf</string>
      <string>FontAwesome.ttf</string>
      <string>Georgia.ttf</string>
      <string>Ionicons.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>Microsoft Sans Serif.ttf</string>
      <string>Octicons.ttf</string>
      <string>Roboto_medium.ttf</string>
      <string>Roboto.ttf</string>
      <string>rubicon-icon-font.ttf</string>
      <string>Rubik-Black.ttf</string>
      <string>Rubik-BlackItalic.ttf</string>
      <string>Rubik-BoldItalic.ttf</string>
      <string>Rubik-Italic.ttf</string>
      <string>Rubik-Light.ttf</string>
      <string>Rubik-LightItalic.ttf</string>
      <string>Rubik-Medium.ttf</string>
      <string>Rubik-MediumItalic.ttf</string>
      <string>Rubik-Regular.ttf</string>
      <string>SanFrancisco.ttf</string>
      <string>SanFranciscoBold.ttf</string>
      <string>SanFranciscoThin.ttf</string>
      <string>SF-UI-Text-Regular.otf</string>
      <string>Skia.ttf</string>
      <string>Times New Roman.ttf</string>
      <string>Zocial.ttf</string>
      <string>Entypo.ttf</string>
      <string>Foundation.ttf</string>
      <string>Ionicons.ttf</string>
      <string>Zocial.ttf</string>
      <string>Rubik-Black.ttf</string>
      <string>Rubik-BlackItalic.ttf</string>
      <string>Rubik-Bold.ttf</string>
      <string>Rubik-BoldItalic.ttf</string>
      <string>Rubik-Italic.ttf</string>
      <string>Rubik-LightItalic.ttf</string>
      <string>Rubik-MediumItalic.ttf</string>
      <string>Rubik-Regular.ttf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>